.botao_project {
    padding: 2rem;
    width:100%;
    
    top:6rem;
    background-color: #b8b8b8;
    background-position:center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    z-index: 10; 
  }

.botao_geral{
    font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
    text-align: center;
    padding: 2rem;
    position:absolute;
    width: 50%;
    left: 0%;

}

.botao_detalhes{
    font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
    margin-right:30px;
    text-align: center;
    padding: 2rem;
    position:absolute;
    left: 50%;
    width: 50%;

}

.selecionado{
    background-color: #081c2e;
    color:#f1f1f1 ;
}

.nao_selecionado{
    color: #000;;
}

.comun_diagr,
.lista_mat{
    position: relative;
    width: 100%;
    top: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.comun_diagr_text,
.lista_mat_text{
    position: relative;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.comun_diagr h1,
.lista_mat_text h1{
    font-size: clamp(0.3em, 1em + 0.9vw, 1.5em);
    margin-bottom: 2rem;
    text-align: center;
}

.lista_mat_text li{
    font-size: clamp(0.3em, 0.6em + 0.8vw, 1.1em);;
}

.comun_diagr img{
    border-radius: 2rem;
}


