.botao_project {
    padding: 2rem;
    width:100%;
    padding-top: 8rem; 
    background-color: #081c2e;
    background-position:center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    z-index: 10; 
  }

.botao_geral{
    font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
    text-align: center;
    padding: 2rem;
    position:absolute;
    width: 50%;
    left: 0%;
    transform: translateY(5%);
}

.botao_detalhes{
    font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
    margin-right:30px;
    text-align: center;
    padding: 2rem;
    position:absolute;
    left: 50%;
    width: 50%;
    transform: translateY(5%);
}

.selecionado{
    background-color: #081c2e;
    color:#f1f1f1 ;
}

.nao_selecionado{
    background-color:  #b8b8b8;
    color: #000;
}

.electrical_specs,
.system_description,
.bill_of_material,
.key_features{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.system_description_text,
.key_features_text
{
    position: relative;
    width: 70%;
    margin-top: 2rem;
}

.system_description_text h1,
.key_features_text h1
{
    font-family: var(--titulos-font-family);
    font-size: clamp(0.3em, 0.8em + 0.9vw, 1.5em);
    margin-bottom: 2rem;
    text-align: center;
}

.key_features_text li,
.key_features_text p,
.system_description_text p{
    font-family: var(--texto-font-family);
    font-size: clamp(0.3em, 0.6em + 0.8vw, 1.1em);
    margin-top: 10px;
}


.electrical_specs_text,
.bill_of_material_text{
    text-align: center;
    justify-items: center;
    align-items: center;
    font-family: var(--titulos-font-family);
    font-size: clamp(0.3em, 0.7em + 0.9vw, 1.4em);
    font-weight: bold;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
    font-family: var(--texto-font-family);
    font-size: clamp(0.3em, 0.6em + 0.8vw, 1.1em);
    font-weight: lighter;
}

.system_description img{
    scale: 75%;
    margin-top: -3rem;
    margin-bottom: -1rem;
}

.system_description p{
    font-size: clamp(0.3em, 0.6em + 0.8vw, 1.1em);
    font-family: var(--texto-font-family);
    font-weight: var(--texto-font-weight);
    text-align: justify;
}


.specs_pdf{
    position: relative;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.datasheets{
    margin-top: 3rem;
    width: 80%;
    margin-left: 10%;
    margin-right:10% ;
    text-align: center;
    position: relative;
    font-size: clamp(0.3em, 0.7em + 0.8vw, 0.9em);
    font-family: var(--texto-font-family);
    font-weight: var(--texto-font-weight);
}




@media(max-width: 510px){
   .datasheets{

    margin-top: 4rem;
    }

}

.blogweekspec {
    margin-top:2rem;
    width:100%;
    background-position:center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content:center ;
    z-index: 10;
  }

.communication{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}