/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css?family=Bruno+Ace:400");

html{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background: #eaeaee;
}

.aprouch,
.about_us{
  width:100%;
  background-color: #EAEAEA;
  background-position:center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.contacts,
.teams{
    width:100%;
    background-color: #EAEAEA;
    background-position:center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

.aprouch__text h1,  
.teams__text h1,
.about_us__text h1 {
  font-size: var( --titulos-font-size);
  -webkit-margin-after: 0.5em;
}

.aprouch__text h2{
    font-size: var( --titulos-font-size);
    margin-top: 10%;
}

.aprouch__text p, 
.teams__text p,
.about_us__text p {
  font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
}

.about_us__text {
  text-align: center;
  margin-top:7.5rem;
  width: 70%;
  color: black;
  position: relative;
  letter-spacing: 0;
  font-weight: var(--titulos-font-weight);
  font-family: var(--titulos-font-family);
}

.teams__text {
  text-align: center;
  margin-top:4rem;
  width: 100%;
  color: black;
  position: relative;
  letter-spacing: 0;
  font-weight: var(--titulos-font-weight);
  font-family: var(--titulos-font-family);
}

.aprouch__text {
  text-align: center;
  width: 70%;
  color: black;
  position: relative;
  letter-spacing: 0;
  font-weight: var(--titulos-font-weight);
  font-family: var(--titulos-font-family);
}



.triangulo {
  width:auto;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text_triangulo {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 70%);
}

.text_triangulo h1 {
  font-size: clamp(0.3em, 0.7em + 1vw, 1.3em);
    -webkit-margin-after:2rem
}

.text_triangulo p {
  font-size: clamp(0.3em, 0.7em + 1vw, 1.3em);
    -webkit-margin-after:2rem
}


.teams__container {
    width: 100%;
    position: relative;
    justify-content: space-around;
    align-items: center;
    display: flex;
   margin-bottom: 12.5rem;
    margin-top: 12.5rem;
}


.teams__button{
    position: absolute;
    left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 29rem;
    background-color: #d9d9d9;
    color: var(--body-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    font-weight: var( --titulos-font-weight);
    font-family: var(--titulos-font-family) ;
    font-size: clamp(0.3em, 0.7em + 1vw, 1.4em);
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .teams__button h1{
    transform: translate(0, 15%);
    font-size: clamp(0.3em, 0.7em + 1vw, 1.4em);
  }
  .teams__text1{

    text-align: left;
    align-items: center;
    left: 60%;
    right:5%;
    width: auto;
    height: auto;
    color: black;
    position: absolute;
    letter-spacing: 0;
  
    font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
    font-weight: var(--titulos-font-weight);
    font-family: var(--titulos-font-family);
  }

  .teams__text1 h2{
    font-size: clamp(0.3em, 0.8em + 1vw, 1.1em);
  }
  
  .teams__text1 li{ 
    font-size: clamp(0.3em, 0.7em + 1vw, 1em);
  }
  @media(max-width:600px){

    .text_triangulo h1 {
      font-size: clamp(0.3em, 0.6em + .9vw, 1.3em);
        -webkit-margin-after:1rem
    }

    .text_triangulo p {
      transform: translateY(5px);
      font-size: clamp(0.3em, 0.6em + 0.8vw, 1.3em);
        -webkit-margin-after:2rem
    }
    .teams__text1{

      text-align: left;
      align-items: center;
      left:0%;
      right:0%;
      top:0%;
      width: 100vw;
      height: auto;
      color: black;
      position: relative;
      letter-spacing: 0;
      font-size: clamp(0.3em, 0.6em + 1vw, 1.1em);
      font-weight: var(--titulos-font-weight);
      font-family: var(--titulos-font-family);
    }

    .teams__text1 h2{
      font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
    }

    .teams__text1 li{ 
      font-size: clamp(0.3em, 0.6em + 1vw, 1.1em);
    }
  }

  @media(max-width:1000px){
  
  .teams__text {
    text-align: center;
    margin-top:4rem;
    width: 100%;
    color: black;
    position: relative;
    letter-spacing: 0;
    font-weight: var(--titulos-font-weight);
    font-family: var(--titulos-font-family);
  }

  .teams__text1{

    text-align: left;
    align-items: center;
    left:0%;
    right:0%;
    top:6rem;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    height: auto;
    color: black;
    position: relative;
    letter-spacing: 0;
    font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
    font-weight: var(--titulos-font-weight);
    font-family: var(--titulos-font-family);
  }
  .teams__container {
    width: 100%;
    height: 15rem;
    position: relative;
    justify-content: center;
    align-items: start;
    display: flex;
    margin-bottom: 2rem;
    margin-top:2rem;
}


.teams__button{
  position: absolute;
  left: 45%;
  right:50%;
  margin-left: 5%;
  margin-right: 5%;
  transform: translate(-50%,0%);

  width: 90vw;
  background-color: #d9d9d9;
  color: var(--body-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  font-weight: var( --titulos-font-weight);
  font-family: var(--titulos-font-family) ;
  font-size: clamp(0.3em, 0.7em + 1vw, 1.4em);
  text-align: center;
  justify-content: center;
}

  }



  
  .fotos{
    width:100%;
    background-color: #EAEAEA;
    background-position:center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 2rem;
  }




  .fotos__container{
    width: 70rem;
    height: 18rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #d9d9d9;
    background-position:center;
    position: relative;
    display: flex;
    align-items:center;
    align-content: center;
    border-radius: 3.5rem;
    justify-content: space-evenly;
  }
 .fotos__texto{
  width: 100%;
  position: absolute;
  top: 5%;
 }

 .fotos__container__individual{
  width: 11rem;
  margin-top: 3%;
  height: 70%;
}

.fotos__container__individual p{
  margin-top: 10px;
}


 .fotos__imagens{
  width: 100%;
  height: 90%;
  border-radius: 2.5rem;
 }

 .andre{
  background-image: url();
  background-size: cover;
 }
 .filipe{
  background-image: url(img/Team/filipe.webp);
  background-position:center;
  background-size: cover;
 }
 .antonio{
  background-image: url();
  background-size: cover;
 }
 .duarte{
  background-image: url(img/Team/duarte.webp);
  background-size: cover;
 }
 .francisco{
  background-image: url(img/Team/francisco.webp);
  background-size: cover;
 }
 .miguel{
  background-image: url();
  background-size: cover;
 }

  @media(max-width:600px){

    .fotos{
      width:100%;
      background-color: #EAEAEA;
      background-position:center;
      background-size: cover;
      position: relative;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin-bottom: 2rem;
    }
  
  
  
  
    .fotos__container{
      width: 65vw;
      min-width: 14rem;
      margin-left: 5%;
      margin-right: 5%;
      height: 50rem;
      background-color: #d9d9d9;
      background-position:center;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items:center;
      align-content: center;
      border-radius: 3.5rem;
      
    }
    .fotos__container__individual{
      width: 12rem;
    
      margin-top: 1rem;
      height: 13rem;
    }

    .fotos__texto{
      width: 100%;
      position: absolute;
      top: 2%;
     }
  }