/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css?family=Bruno+Ace:400");

html{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background: #eaeaee;
    justify-content: center;
    align-items: center;
}


.contacts{
    width:100%;
    background-color: #EAEAEA;
    background-position:center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
/*Contactos*/
.Contacto{
    width: 70%;  
    height: 478px;
    position: relative;
    background: #D9D9D9;
    border-radius: 30px;
    overflow: hidden;
    margin-top:7.5rem ;
}
.LineContacto{
    width: 597px;
    height: 0px;
    left: 50%;
    top: 602px;
    position: absolute;
    transform: rotate(-89.90deg);
    transform-origin: 0 0;
    border: 1px black solid;
}
.Updates{
width: 50%;
height:90%;
left: 50%;
top: 5%;

position: absolute;
}

.Update__titulo{
    width: 100%; 
    top: 5%;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: Myanmar Khyay;
    font-weight: 400;
    word-wrap: break-word;
}

.Update__texto{
    width: 70%;
    height: auto;
    left: 15%;
    top: 20%;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 32px;
    font-family: Myanmar Sans Pro;
    font-weight: 400;
    word-wrap: break-word;
}



.Submit{
    width: 36%;
    height: 10%;
    padding-left: 59px;
    padding-right: 59px;
    padding-top: 7px;
    padding-bottom: 7px;
    left: 58%;
    top: 80%;
    position: absolute;
    background: #EAEAEA;
    border-radius: 50px;
    overflow: hidden;
    justify-content:center;
    align-items: center;
    display: inline-flex;
}

.Questions{
    width: 36%;
    height: 10%;
    padding-left: 59px;
    padding-right: 59px;
    padding-top: 7px;
    padding-bottom: 7px;
    left: 7%;
    top: 80%;
    position: absolute;
    background: #EAEAEA;
    border-radius: 50px;
    overflow: hidden;
    justify-content:center;
    align-items: center;
    display: inline-flex;
}


.Submit__text{
    text-align: center; 
    color: black;
    font-size: 30px; 
    font-family: Myanmar Khyay;
    font-weight: 400;
    word-wrap: break-word;
}

.Contactos__titulo{
    width: 50%; 
    top: 9.5%;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: Myanmar Khyay;
    font-weight: 400;
    word-wrap: break-word;
}

.Contactos__texto{
    width: 36%;
    height: auto;
    left: 7%;
    top: 23%;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 32px;
    font-family: Myanmar Sans Pro;
    font-weight: 400;
    word-wrap: break-word;
    }