/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css?family=Bruno+Ace:400");

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--texto-font-family);
  font-size: var(--texto-font-size);
}
/*
body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; 
}*/

/*
h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}*/

ul {
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 100vw;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.hidden {
  display: none!important;
  visibility: hidden;
  opacity: 0;
}

.imagem_desktop{
  visibility: hidden;
}

.imagem_mobile{
  visibility: visible;
}

/*=============== HEADER & NAV===============*/
.header{
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  background-color: #081c2e;
  z-index: var(--z-fixed);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo{
  color: var(--logo-color);
  font-weight: var(--logo-font-weight);
  font-family: var(--logo-font-family);
  font-size: var(--logo-font-size);
  text-align: center;
  transition: .4s;
  width: 30%;
}

.nav__button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  margin-inline-end:3% ;
}

.nav__button__home{
  color: var(--nav-text-color);
  font-weight: var(--texto-font-weight);
  font-family: var(--texto-font-family);
  font-size: var(--texto-font-size);
  transition: .4s;
}

.nav__button__home:hover{
  color: var(--button-hover-color);
}

.nav__button__blog{
  color: var(--nav-text-color);
  font-weight: var(--texto-font-weight);
  font-family: var(--texto-font-family);
  font-size: var(--texto-font-size);
  transition: .4s;
}

.nav__button__blog:hover{
  color: var(--button-hover-color);
}

.nav__button__about_us{
  color: var(--nav-text-color);
  font-weight: var(--texto-font-weight);
  font-family: var(--texto-font-family);
  font-size: var(--texto-font-size);
}

.nav__button__about_us:hover{
  color: var(--button-hover-color);
}


/*=============== Front page===============*/
.intro {
  width:100%;
  min-height:100vh;
  background-image: url(img/Home/Fundo\ home.png);
  background-position:center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.intro__text {
  display: flex;
  text-align: center;
  width: 40%;
  color: black;
  position: relative;
  translate: 30%;
  letter-spacing: 0;
  font-weight: var(--titulos-font-weight);
  font-family: var(--titulos-font-family);
  font-size: var(--titulos-font-size);
}


.elipse{
  display:flex;
  width: 100%;
  position:absolute;
}

.teste{
  margin-right: 11%;
  width: 30vw;
  height: 100vh;
  display:flex;
  position: relative;
  align-items: center;
  background: linear-gradient(to bottom,#081c2e 50%,  transparent 0%); 
}

.testetele{
  display:none;
  width: 70%;
  top: 15%;
  left:30%;
  position:fixed;
  align-items:start;
 
}

.elipsetele{
  display: flex;
  width: 100%;
  position:absolute;
  
}

@media(max-width: 700px){
  .teste{
    visibility:hidden;
    display: none;
  }
  .testetele{
    visibility: visible;
    display: flex;
  }

  .nav__logo{
    color: var(--logo-color);
    font-weight: var(--logo-font-weight);
    font-family: var(--logo-font-family);
    font-size: var(--logo-font-size-700);
    text-align: center;
    transition: .4s;
    width: 30%;
  }
  
  .nav__button__home{
    color: var(--nav-text-color);
    font-weight: var(--texto-font-weight);
    font-family: var(--texto-font-family);
    font-size: var(--texto-font-size-700);
    transition: .4s;
  }

  .nav__button__blog{
    color: var(--nav-text-color);
    font-weight: var(--texto-font-weight);
    font-family: var(--texto-font-family);
    font-size: var(--texto-font-size-700);
    transition: .4s;
  }
  
  .nav__button__about_us{
    color: var(--nav-text-color);
    font-weight: var(--texto-font-weight);
    font-family: var(--texto-font-family);
    font-size: var(--texto-font-size-700);
  }

  .intro {
    width:100%;
    min-height:100vh;
    background-image: url(img/Home/Fundo\ home.png);
    background-position:center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: start;
   
  }
  
  .intro__text {
    display: flex;
    text-align: center;
    position: fixed;
    width: 40%;
    top: 40%;
    
    
    color: black;
    font-weight: var(--titulos-font-weight);
    font-family: var(--titulos-font-family);
    font-size: 2rem;
    
  }
}