.partner {
    width:100%;
    min-height:100vh;
    background-color: #EAEAEA;
    background-position:center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 10;
  }

.partner__titulo {
    text-align: center;
    top:9rem;
    width: 100%;
    color: black;
    position: absolute;
    letter-spacing: 0;
    font-weight: var(--titulos-font-weight);
    font-family: var(--titulos-font-family);
  }
  .partner__img{
    width: 20rem;
    position: absolute;
    top:13rem ;
    left:60% ;
    }

.partner__text{
  text-align: center;
  width:49%;
  left: 10%;
  top:13rem ;
  margin-top: 3%;
  color: black;
  position: absolute;
  letter-spacing: 0;
  font-weight: var(--titulos-font-weight);
  font-family: var(--titulos-font-family);
  font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
}

.partnertele{
  display: none;
  display: none;
}
@media(max-width:800px){
  .partnertele {
    width:100%; 
    padding-top:7.5rem;
    background-color: #EAEAEA;
    background-position:center;
    background-size: cover;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .partner {
    display: none;
  }

  .partner__img{
    width: 20rem;
    position: relative;
    top:0rem ;
    padding-top: 1rem;
    left:0% ;
    }

.partner__text{
  text-align: center;
  width:80%;
  left: 0%;
  top:0rem ;
  margin-top: 0%;
  color: black;
  position: relative;
  letter-spacing: 0;
  font-weight: var(--titulos-font-weight);
  font-family: var(--titulos-font-family);
  font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
}
    
}