/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css?family=Bruno+Ace:400");

.blog__container{
    position: relative;
    /* row-gap: 4.5rem; */
    padding-top: 3rem;
}
  
.blog__data{
    text-align: center;
}

.blog__title{
    font-size: var(--titulos-font-size);
}

.blog__inicial{
    display: flex;
    position: absolute;
    height: 70vh;
    background-color: aqua;
    border-radius: 3.9rem;
    transform: translate(12%, -10%);
}

.blog__ini__text {
    display: flex;
    text-align: center;
    justify-content: center;
    width:45vw;
    height:20vh;
    color: black;
    position: relative;
    letter-spacing: 0;
    font-weight: var(--texto-font-weight);
    font-family: var(--texto-font-family);
    font-size: var(--texto-font-size);
    transform: translate(0%, 100%);
  }