.blogweek {
    width:100%;
    margin-top:8rem;
    background-position:center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content:center ;
    z-index: 10;
  }

  .blog_f1{
    scale :1;
    border-radius: 40px;
    position: relative;
    width: 30rem;
   
  }

  .blogweek_text {
    text-align: center;
    width: 60%;
    color: black;
    position: relative;
    align-items: center;
    justify-items: center;
    letter-spacing: 0;
    font-weight: var(--titulos-font-weight);
    font-family: var(--titulos-font-family);
    font-size: clamp(0.3em, 0.7em + 0.8vw, 1.2em);

  }

  .bill_mat_text,
  .elect_spec_text{
    width: 80%;
  }


  

  .blogweek_text h1{
    font-size: clamp(0.3em, 0.8em + 0.9vw, 1.5em);
    text-align: center;
  }
  
  .blogweek_text li{
    text-align: left;
  }

  .blogweek_text p{
    text-align: center;
  }

  .botao_report{
  height: auto;
  width: 6rem;
  font-weight: var(--texto-font-weight);
  font-family: var(--texto-font-family);
  font-size: 1.5rem;
  background-color: #d6d6d8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  color: black;
  text-align: center;
  align-items: center;
  border-radius: 2rem;
  position: relative;
  bottom: 0%;
  transition: 0.4s;
  padding: 0rem 1rem;
}

.botao_report:hover{
  background-color: #081c2e;
  color: var(--logo-color);
  box-shadow: 0 0 5px #EAEAEA;
}

.next_previous_div{
position: relative;
padding: 1rem;
display: flex;
justify-content: space-between;
text-align:space-around;
width: 60%;
}

.next_previous_div a{
  font-weight: var(--texto-font-weight);
  font-family: var(--texto-font-family);
  font-size: clamp(0.3em, 0.5em + 1vw, 1em);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  color: black;
  background-color: #d6d6d8;
  text-align: center;
  padding: 0rem 1rem;
  border-radius: 2rem;
}

.botao_report_previous{
  width: auto;
  position: relative;
 
}

.botao_report_next{
  width: auto;
    position: relative;
}
