/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css?family=Bruno+Ace:400");

html{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background: #eaeaee;
}

.blog__data {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

.blog__container {
    position: absolute;
    
}
  
.blogtitulo{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top:8rem;
}

.blog__title {
    font-size: clamp(0.3em, 1em + 0.9vw, 1.5em);
}

.blog__inicial__data {
    display: flex;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100vw;
    justify-content: center;   
}

.blog__inicial {
    display: flex;
    position: relative;
    height: 50vh;
    width: 50rem;
    margin-left:10% ;
    margin-right:10%;
    background-color: blue;
    background-color: #c1c1c1;
    border-radius: 4.1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
}

.blog__inicial__img{
    width: 50%;
   height:100% ;
   right:0%;
   position: absolute;

}

.blog__ini__text {
    display: flex;
    text-align: center;
    justify-content: center;
    width:50%;
    left:0%;
    margin-top: 0%;
    color: black;
    position: absolute;
    letter-spacing: 0;
    font-weight: var(--texto-font-weight);
    font-family: var(--texto-font-family);
    font-size: clamp(0.3em, 0.5em + 0.6vw, 1em);
    object-fit: contain;
}

.section__blog {
    padding: 2.5rem 0 1rem;
    width: 80%;
    position: relative;
    left: 10%;
}

.responsive {
    margin-left: 0.8%;
    padding: 0 6px;
    float: left;
    width: 23.99999%;
    position: relative;
}


div.gallery {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 3rem;
    height: 17rem;
    position: relative;
    overflow: hidden;  
}

.gallery{
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.website_creation{
    background-image:url(img/Report/Image\ First\ Week.webp) ; 
}

.website_mobile{
    background-image: url(img/Report/Website_mobile.jpeg);
}

.bill_of_material_report{
    background-image: url(img/Report/Website_bill_of_material.webp);
}

.elect_spec_report{
    background-image: url(img/Report/elect_specs.webp);
}
  

div.gallery img {
    width: 100%;
    height: auto;
    /*border-radius: 2rem;*/
}

.botao_background {
    height: auto;
    width: 6rem;
    font-weight: var(--texto-font-weight);
    font-family: var(--texto-font-family);
    font-size: 1.5rem;
    background-color: #f1f1f1;
    box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    align-items: center;
    border-radius: 2rem;
    position: absolute;
    margin-left: 1rem;
    bottom: 4rem;

}

div.desc {
    padding: 15px;
    width: 100%;
    text-align: center;   
    position: absolute;
    bottom: 0%; 
   
}

* {
    box-sizing: border-box;
    
}


.week_button {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    align-items: center;
    background-color: #081c2e;
    color: white;
    margin: auto;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    font-size: 1.05rem;
}


.blogtele{
    display: none;
}



@media only screen and (max-width: 800px) {
.responsive {
    width: 49.99999%;
    margin: 6px 0;
}

.section__blog {
    padding: 0 0 1rem;
}

}

@media only screen and (max-width: 500px) {
    .blog__inicial__data{
        display: none;
    }

.blogtele {
    width:100%;
    padding-top: 1rem;
    background-color: #EAEAEA;
    background-position:center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
  
}

.blog__ini__texttele {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-top:0% ;
    width: 80%;
    color: black;
    position: relative;
    letter-spacing: 0;
    font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
    font-weight: var(--titulos-font-weight);
    font-family: var(--titulos-font-family);
}

.blog__inicial__imgtele{
        border-radius: 3.5rem;
        position: relative;
        width:20rem;
}




.responsive {
    width: 100%;
}

.section__blog {
    padding: 0rem 0 1rem;

}
}

.clearfix:after {
    content: "";
    display: table;
    clear:both;
    
}

 
  /*=============== FOOTER ===============*/
  
.footer {
        background-color: #081c2e;
        margin-top: 3%;
}
  
.footer__container {
    position: relative;
    padding: 2rem 0 1rem;
    align-items: center;
    justify-content:space-around ;
   
}

.footer__title {
    position: relative;
    color: var(--logo-color);
    font-family: var(--logo-font-family);
    font-weight: var(--logo-font-weight);
    font-style: var(--logo-font-style);
    letter-spacing: var(--logo-letter-spacing);
    line-height: var(--logo-line-height);
    font-size:clamp(0.5em, 0.7em + 1vw, 1.5em);
    text-align: center;
    align-items: center;
    align-content: center;
    left: 8%;
    
}

.footer__link {
    color: var(--logo-color);
    font-family: var(--logo-font-family);
    font-weight: var(--logo-font-weight);
    font-style: var(--logo-font-style);
    letter-spacing: var(--logo-letter-spacing);
    line-height: var(--logo-line-height);
}



.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;   
}
@media(max-width:350px){
.footer__list{
    display: none;
}
}

.app_container {
    display: flex;
    position: relative;
    width: 100%;
    height:5rem;
    text-align: center;
    align-items: center;
    justify-self: center;
}

.app_text {
    position: absolute;
    width:25rem;
    color: #d9d9d9;
    font-weight: var( --titulos-font-weight);
    font-family: var(--titulos-font-family) ;

    align-items: center;
    align-content: center;
    right: 0%;
}

.app_text h1{
    font-size: clamp(0.3em, 0.5em + 1vw, 0.7em);
}

.app_text h2{

    font-size: clamp(0.3em, 0.8em + 1vw, 0.7em);
}

.disclaimer{
    font-weight: var( --titulos-font-weight);
    font-family: var(--titulos-font-family) ;
    font-size: clamp(0.2em, 0.4em + 0.8vw, 0.9em);
    text-align: center;
    width: 90%;
    color: #d9d9d9;
}
.app_button {
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: 4rem;
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.51);
    padding: 1.2rem 2rem;
    border-radius: 3rem;
    font-weight: var( --titulos-font-weight);
    font-family: var(--titulos-font-family) ;
    font-size: clamp(0.3em, 0.5em + 1vw, 1em);
    text-align: center;
    justify-items: center;
    transition: .4s;
    bottom: 10%;
}

.app_button:hover,
.app_button_tele:hover{
    background-color: #081c2e;
    color: var(--logo-color);
    box-shadow: 0 0 5px #EAEAEA;
}
.app_tele,
.app_button_tele
.app_container_tele{
    display: none;
}

@media(max-width: 700px){
    .app_container{
        display: none;
    }

    .app_tele{
        display: flex;
        visibility: visible;
        position: relative;
        width:auto;
        color: #d9d9d9;
        font-weight: var( --titulos-font-weight);
        font-family: var(--titulos-font-family) ;
        font-size: clamp(0.3em, 0.5em + 1vw, 0.4em);
        align-items: center;
        flex-direction: column;
        align-content: center;
    }
    .app_tele h1{
        padding: 0.5rem 0 0.5rem;
    }
    .app_button_tele{  
        display: flex;
        visibility: visible;  
        position: relative;
        width: auto;
        margin-left: 0%;
        background-color: #d9d9d9;
        color: rgba(0, 0, 0, 0.51);
        padding: 1.2rem 4rem;
        border-radius: 3rem;
        font-weight: var( --titulos-font-weight);
        font-family: var(--titulos-font-family) ;
        font-size: clamp(1em, 1em + 1vw, 1em);
        text-align: center;
        transition: .4s;
    }

    .app_container_tele {
        display: flex;
        position: relative;
        width: 100vw;
        height: 6rem;
        text-align: center;
        flex-direction: column;
        align-items: center;
        right: 0%;
    }

}