/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css?family=Bruno+Ace:400");



/*=============== HEADER & NAV===============*/
.header{
  height: 10rem;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: #081c2e;
  z-index: var(--z-fixed);
}
.text-wrapper-3 {
  width: 22.125rem;
  height: 4.875rem;
  top: 2.75rem;
  left: 6.125rem;
  font-size: 2.25rem;
  position: fixed;
  font-family: "Bruno Ace";
  color: #f1f1f1;
  text-align: center;
  letter-spacing: var(--logo-letter-spacing);
  line-height: var(--logo-line-height);
  font-style: var(--logo-font-style);
  font-weight: 400;
}

.boto-home {
  position: fixed;
  width: 3.25rem;
  height: 1.5rem;
  top: 4.4375rem;
  left: 53.625rem;
}

.text-wrapper-4 {
  height: 2rem;
  top: -0.3125rem;
  left: -0.5rem;
  font-size: 1.5rem;
  position: fixed;
  font-family: "Myanmar Sans Pro-Regular", Helvetica;
  font-weight: 25rem;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.boto-about-us {
  position: fixed;
  width: 13.25rem;
  height: 4.875rem;
  top: 2.75rem;
  left: 71.5625rem;
}

.text-wrapper-5 {
  position: fixed;
  height: 2rem;
  top: 1.3755rem;
  left: 3.4375rem;
  font-family: "Myanmar Sans Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.boto-blog {
  position: fixed;
  width: 3.25rem;
  height: 1.5rem;
  top: 4.4375rem;
  left: 65.125rem;
}

.text-wrapper-6 {
  height: 2rem;
  top: -0.3125rem;
  left: 0;
  font-size: 1.5rem;
  position: fixed;
  font-family: "Myanmar Sans Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}