/*=============== Front page===============*/
.intro {
  width:100%;
  min-height:878px;
  height: 100vh;
  max-height: 950px;
  background-image: url(img/Home/home_background.webp);
  background-position:center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.intro__center {
  position: relative;
  width: 32rem;
  height:100%;
  text-align: center;
  background-color: #EAEAEA;
  justify-content: center;
  opacity: 0.95;
}


.intro__text {
  width: 100%;
  height: 100%;
  margin-top: 0rem;
  position: absolute;
  top: 8rem;
  color: black;
  font-weight: var(--logo-font-weight);
  font-family: var(--logo-font-family);
  font-size:4rem;
  
}

.intro__image {
  position: absolute;
  object-fit:cover;
  left:0%;
  bottom: 0vh;
  
}

@media(max-width:  600px){
    .intro {
        width:100vw;
        min-height:650px;
        height: 100vh;
        max-height: 750px;
        background-image: url(img/Home/home_background.webp);
        background-position:center;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
      }
      
      .intro__center {
        position: relative;
        width: 20rem;
       
        text-align: center;
        background-color: #EAEAEA;
        justify-content: center;
        opacity: 0.95;
      }
      
      .intro__text {
        width: 100%;
        height: 50%;
        margin-top: 8rem;
        position: absolute;
        top: 2rem;
        color: black;
        font-weight: var(--logo-font-weight);
        font-family: var(--logo-font-family);
        font-size:3rem;
        
      }
            
}

    /*Preimeira Pagina*/  
    .introduction {
        position: relative;
        text-align: center;
      }
    .introduction h1, 
    .goals_home h1,
    .team_home h1,
    .partners_home h1{
    font-size: clamp(0.3em, 1em + 1vw, 1.5em);
    font-family: var(--titulos-font-family);
    font-weight: var(--titulos-font-weight);
    font-weight: bold;
    line-height: 5rem;
    }
    
    .introduction h2{
      position: relative;
      width: 60%;
      font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
      font-family: var(--texto-font-family);
      font-weight: var(--texto-font-weight);
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .buttonPDF{
        background-color: #D9D9D9;
        position: absolute;
        color: var(--body-color);
        padding: 0.75rem 2rem;
        border-radius: 2rem;
        font-weight: var( --titulos-font-weight);
        font-family: var(--titulos-font-family) ;
        font-size: clamp(0.3em, 0.7em + 1vw, 1.2em);
        transform: translate(0,50%);
        transition: .2s;
        margin-left: 10%;
        margin-right: 10%;
      }
      
      .Pdfbutton_background_home{
        width: 100%;
        height: 7rem; 
       justify-content: center;
        display: flex;
        text-align: center;
        position: relative;
       
      }
      
      .buttonPDF:hover{
        background-color: #081c2e;
        color: var(--logo-color);
      }
      .goals_home {
        margin-top: 4vh;
        position: relative;
        text-align: center; 
      }
      
      .goals_home h2 {
        font-size: var(--texto-font-size);
        font-family: var(--texto-font-family);
        font-weight: var(--texto-font-weight);
      }
      
.practical{
    margin-top: 6rem;
    width: 5rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-270%, 0%);
    text-align: center;
  }
  
  .practical__text {
    width: auto;
    position: absolute;
    bottom: -51%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .cheap{
    margin-top: 6rem;
    width: 4.5rem;
    position: absolute;;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0%);
    scale: 1.1;
  }
  
  .cheap__text {
    width: auto;
    position: absolute;
    bottom: -55%;
    left: 50%;
    transform: translate(-40%, -50%);
  }
  
  .efficient{
    margin-top: 6rem;
    width: 4.8rem;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(170%, 0%);
  }
  
  .efficient__text {
    width: auto;
    position: absolute;
    bottom: -51%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

      @media(max-width:600px){
        .introduction h2{
            
            width: 90%;
          }
.practical{
    margin-top: 6rem;
    width: 5rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-200%, 0%);
    text-align: center;
  }
  
  .practical__text {
    width: auto;
    position: absolute;
    bottom: -51%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .cheap{
    margin-top: 6rem;
    width: 4.5rem;
    position: absolute;;
    top: 56%;
    left: 50%;
    transform: translate(-50%, 0%);
    scale: 1.1;

  }
  
  .cheap__text {
    width: auto;
    position: absolute;
    bottom: -51%;
    left: 50%;
    transform: translate(-40%, -50%);
  }
  
  .efficient{
    margin-top: 6rem;
    width: 4.8rem;
    position: absolute;  
    top: 55%;
    left: 50%;
    transform: translate(120%, 0%);
  }
  
  .efficient__text {
    width: auto;
    position: absolute;
    bottom: -51%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   }


   .team_home {
    position: relative;
    text-align: center;  
    top: 14rem;
    height: auto;
  
  }
  
  .partners_home {
    position: relative;
    text-align: center;
    top:19rem;
 
  }
  
  .partners_home__img{
   position: relative;
    scale: 0.60;
    transform: translateY(-30%);
   
  }
  
  .goals_home h1,
  .team_home h1,
  .partners_home {
   position: relative;
  }
  
  
  .team_home h2 {
    position: relative;
    width: 60%;
    margin-left:20%;
    font-size: clamp(0.3em, 0.7em + 1vw, 1.1em);
    font-family: var(--texto-font-family);
    font-weight: var(--texto-font-weight);

  }
  
  @media(max-width:600px){
    .team_home h2 {
        
        width: 90%;
        margin-left:5%;
    }
  }