/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css?family=Bruno+Ace:400");

html{
    max-width: 100%;
    overflow-x: clip;
}

body{
    background: #eaeaee;
}

.about_us{
  width:100%;
  background-color: #EAEAEA;
  background-position:center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}


.teams{
    width:100%;
    background-color: #EAEAEA;
    background-position:center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

.teams__text h1,
.about_us__text h1 {
  font-size: var( --titulos-font-size);
  -webkit-margin-after: 0.5em
}
.teams__text p,
.about_us__text p {
  font-size: var(--texto-font-size);
}

.about_us__text {
  text-align: center;
  margin-top:7.5rem;
  width: 70%;
  color: black;
  position: relative;
  letter-spacing: 0;
  font-weight: var(--titulos-font-weight);
  font-family: var(--titulos-font-family);
}

.teams__text {
  text-align: center;
  margin-top:7.5rem;
  width: 100%;
  color: black;
  position: relative;
  letter-spacing: 0;
  font-weight: var(--titulos-font-weight);
  font-family: var(--titulos-font-family);
}

.triangulo {
  width:auto;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text_triangulo {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 70%);
}

.text_triangulo h1 {
    font-size: 1.8rem;
    -webkit-margin-after:2rem
}

.teams__container {
    width: 100%;
    position: relative;
    
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 5%;
}


.teams__button{
    position: absolute;
    left: 12%;
    width: 29rem;
    background-color: #d9d9d9;
    color: var(--body-color);
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    font-weight: var( --titulos-font-weight);
    font-family: var(--titulos-font-family) ;
    font-size: 1.7rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .teams__button h1{
    transform: translate(0, 15%);
  }

  .teams__text1 {

    text-align: left;
    align-items: center;
    left: 33%;
    width: 50%;
    color: black;
    position: relative;
    letter-spacing: 0;
    font-weight: var(--titulos-font-weight);
    font-family: var(--titulos-font-family);
  }
  




  /*=============== FOOTER ===============*/
.footer {
    margin-top: 2rem;
    background-color: #081c2e;
    transform: translate(0%, 100%);
}
  
.footer__container {
    padding: 2rem 0 6rem;
}

.footer__title {
    color: var(--logo-color);
    font-family: var(--logo-font-family);
    font-weight: var(--logo-font-weight);
    font-style: var(--logo-font-style);
    letter-spacing: var(--logo-letter-spacing);
    line-height: var(--logo-line-height);
}

.footer__link {
    color: var(--logo-color);
    font-family: var(--logo-font-family);
    font-weight: var(--logo-font-weight);
    font-style: var(--logo-font-style);
    letter-spacing: var(--logo-letter-spacing);
    line-height: var(--logo-line-height);
}

.footer__title {
    text-align: center;
    margin-bottom: 2rem;
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

